
.SearchContainer {
  width:95%;
  height:5vh;
  background:yellow;
  border-radius:5px;
  justify-content:center;
  margin-top:2%;
}

.Filter {
  width:99%;
  font-size: 20px;
  box-shadow: none;
  height:4vh;
  background:#ffff4d;
  border-radius:5px;
  border: 1px solid yellow;
  outline:none;
}

.Filter::placeholder {
    color: #b5b5b5; }