.Header {
  color:white;
  font-family: 'Black Han Sans', sans-serif;
   display:flex;
}


.Title {
  width:80%;
  text-align:center;
  line-height:9vh;
  padding-top:1%;
  font-size:4vw;
}

.Info {
  width:20%;
  text-align:center;
  padding-right:3%;
}




